# Grafana Datasource: Prometheus
#
# This configuration automatically provisions Prometheus as a datasource in Grafana.
# No manual configuration needed - just start Grafana and it will connect.

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: POST
    version: 1
